<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default" style="background-color: #222831">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">PERSONAL JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="register"><a href="/register">REGISTER</a></li>
          <li id="login"><a href="/login">LOGIN</a></li>
    </div>
  </nav>


  <body>
    <div class="container" >


<div id="description" class="container-fluid">
  <p>This is a very simple blogging website.</p>
  <p>Sign up and start writing.</p>
  <p>You can add, edit and delete your blogs.</p>
  <p>All your blogs are securely stored in a database.</p>
</div>

</div>
  <div class="footer">
      <a id="socials" href="https://www.linkedin.com/in/rohan-raju/" target="_blank"> <img src="/images/linkedin.png" alt="linkedin"> </a>
      <a id="socials" href="https://twitter.com/rohanraju_" target="_blank"> <img src="images/brands-and-logotypes.png" alt="twitter"> </a>
  </div>
</body>
</html>
